<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <filter>
        <display-name>EncodingFilter</display-name>
        <filter-name>EncodingFilter</filter-name>
        <filter-class>jsbabel.EncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>EncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <listener>
        <description>ServletContextListener</description>
        <listener-class>jsbabel.MyContextListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>CompleteRegistrationServlet</servlet-name>
        <servlet-class>jsbabel.servlet.CompleteRegistration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Crypt</servlet-name>
        <servlet-class>jsbabel.servlet.Crypt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CommandExecutor</servlet-name>
        <servlet-class>jsbabel.servlet.CommandExecutor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Flag</servlet-name>
        <servlet-class>jsbabel.servlet.Flag</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>string</servlet-name>
        <servlet-class>jsbabel.servlet.StringFinder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Test</servlet-name>
        <servlet-class>jsbabel.servlet.Test</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Orphans</servlet-name>
        <servlet-class>jsbabel.servlet.Orphans</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TranslatePage</servlet-name>
        <servlet-class>jsbabel.servlet.Mirror</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SiteMap</servlet-name>
        <servlet-class>jsbabel.servlet.SiteMap</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>XLiffDownloader</servlet-name>
        <servlet-class>jsbabel.servlet.XLiffDownloader</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>string</servlet-name>
        <url-pattern>/servlet/string</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>translator</servlet-name>
        <servlet-class>jsbabel.servlet.Translator</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>translator</servlet-name>
        <url-pattern>/servlet/translator</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>mysites</servlet-name>
        <servlet-class>jsbabel.servlet.MySites</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>mysites</servlet-name>
        <url-pattern>/servlet/mysites</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>autotranslate</servlet-name>
        <servlet-class>jsbabel.servlet.AutomaticTranslator</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>autotranslate</servlet-name>
        <url-pattern>/servlet/autotranslate</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>data</servlet-name>
        <servlet-class>jsbabel.servlet.Data</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>data</servlet-name>
        <url-pattern>/servlet/data</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>procedureController</servlet-name>
        <servlet-class>jsbabel.servlet.ProcedureMonitor</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>procedureController</servlet-name>
        <url-pattern>/servlet/procedureController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>htmlInjector</servlet-name>
        <servlet-class>jsbabel.servlet.HtmlInjector</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>htmlInjector</servlet-name>
        <url-pattern>/servlet/htmlInjector</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>SiteParserServlet</display-name>
        <servlet-name>SiteParserServlet</servlet-name>
        <servlet-class>jsbabel.servlet.SiteManager</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SiteParserServlet</servlet-name>
        <url-pattern>/servlet/siteParser</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>RegisterUserServlet</display-name>
        <servlet-name>RegisterUserServlet</servlet-name>
        <servlet-class>jsbabel.servlet.RegisterUser</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterUserServlet</servlet-name>
        <url-pattern>/servlet/registerUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompleteRegistrationServlet</servlet-name>
        <url-pattern>/servlet/completeRegistration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Crypt</servlet-name>
        <url-pattern>/servlet/crypt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CommandExecutor</servlet-name>
        <url-pattern>/servlet/commandExecutor</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SimpleCaptcha</servlet-name>
        <servlet-class>nl.captcha.servlet.SimpleCaptchaServlet</servlet-class>
        <!-- The width and height params are optional; 
        if unspecified they default to 200 and 50 respectively. -->
        <init-param>
            <param-name>width</param-name>
            <param-value>250</param-value>
        </init-param>
        <init-param>
            <param-name>height</param-name>
            <param-value>75</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>SimpleCaptcha</servlet-name>
        <url-pattern>/servlet/captcha</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Flag</servlet-name>
        <url-pattern>/servlet/flag</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Test</servlet-name>
        <url-pattern>/test</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Orphans</servlet-name>
        <url-pattern>/servlet/orphans</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SiteMap</servlet-name>
        <url-pattern>/servlet/sitemap</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TranslatePage</servlet-name>
        <url-pattern>/servlet/mirror</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>XLiffDownloader</servlet-name>
        <url-pattern>/servlet/xliffdownloader</url-pattern>
    </servlet-mapping>
    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/errorpage.jsp</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/notfound.jsp</location>
    </error-page>
</web-app>
